@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.page{
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 24px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: #202020;
}
